@font-face {
    font-family: 'Raleway';
    src: url('Raleway/Raleway-VariableFont_wght.ttf');
}

html
{
    scroll-behavior: smooth;
}

body
{
    font-family: Raleway;
}

.logo
{
    margin-left: 20px;
}

.inscription
{
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    color: #0065fc;
    font-weight: bold;
}

header a
{
    text-decoration: none;
    color: black;
}

header a:hover
{
    color: #0065fc;
}

#menu
{
    display: flex;
    margin-top: 20px;
}

#menu a
{
    width: 50%;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 4px solid #f2f2f2;
}

#menu a:hover
{
    border-bottom: 4px solid #0065fc;
}

#recherche
{
    padding-left: 20px;
    margin-bottom: 40px;
}

#recherche a
{
    text-decoration: none;
    color: black;
}

.search
{
    
    height: 40px;
    width: 100%;
}

form
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    border-radius: 15px;
    border: 2px solid #f2f2f2;
}

.search input
{
    height: 40px;
    padding-left: 10px;
    font-weight: bold;
    color: black;
    border: none;
    flex: 1;
}

.search a
{
    background-color: #f2f2f2;
    height: 42px;
    width: 40px;
    border-radius: 15px 0 0 15px;
    margin-left: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
}

.search-logo
{
    background-color: #0065fc;
    border-radius: 13px;
    height: 43px;
    width: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    margin-right: -2px;
}

.search-logo strong
{
    display: none;
}

#filtres ul
{
    display: flex;
    flex-wrap: wrap;
}

#filtres i
{
    color: #0065fc;
    background-color: #deebff;
    width: 50px;
    vertical-align: middle;
    border: 2px #deebff solid;
    margin-top: -2px;
    margin-left: -3px;
    font-size: 1.2em;
    line-height: 50px;
}

#filtres a
{
    font-weight: bold;
    text-align: center;
    border: 2px solid rgb(217, 217, 217);
    border-radius: 30px;
    margin-bottom: 20px;
}

#filtres a, #filtres i
{
    display: inline-block;
    height: 50px;
    border-radius: 27px;
}

#filtres a:hover
{
    background-color: #0065fc;
    border: #0065fc solid 2px;
    color: white;
}

#filtres li
{
    list-style: none;
    margin-right: 20px;
}

#filtres span
{
    padding: 0 20px 0 10px;
}

.info i
{
    color: #0065fc;
    width: 20px;
    height: 20px;
    border: rgb(217, 217, 217) solid 2px;
    padding: 6px 5px 4px 5px;
    border-radius: 18px;
    text-align: center;
    margin-right: 20px;
    float: left;
}

#content p
{
    margin-top: -20px;
}

#content a
{
    text-decoration: none;
    color: black;
}

#populaires
{
    background-color: #f2f2f2;
    padding: 30px 20px 50px 40px;
    margin-bottom: 60px;
}

#populaires h2
{
    margin-bottom: 30px;
    font-size: 1.9em;
}

#populaires article
{
    background-color: white;
    width: 95%;
    height: 200px;
    margin-bottom: 40px;
    border-radius: 25px;
    box-shadow: 5px 5px 20px rgb(200, 200, 200);
    position: relative;
}

#populaires img
{
    height: 186px;
    width: 40%;
    float: left;
    margin: 7px 20px 0 7px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

#populaires h3
{
    padding-top: 30px;
    font-size: 1.3em;
}

#populaires span
{
    position: absolute;
    bottom: 30px;
}

#hebergement article
{
    width: 95%;
    margin: auto;
    height: 280px;
    margin-bottom: 40px;
    border-radius: 25px;
    box-shadow: 5px 5px 20px rgb(200, 200, 200);
    padding: 7px 7px 0 7px;
}

#hebergement img
{
    width: 100%;
    height: 55%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

#hebergement h3, #hebergement p, #hebergement span
{
    margin-left: 20px;
}

#hebergement
{
    margin-bottom: 60px;
}

#activite article
{
    width: 95%;
    margin: auto;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 25px;
    box-shadow: 5px 5px 20px rgb(200, 200, 200);
}

#activite img
{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

#activite h3
{
    margin-left: 20px;
    font-size: 1.3em;
}

#activite a
{
    text-decoration: none;
    color: black;
}

#activite
{
    margin-bottom: 60px;
}

#activite h2
{
    margin-bottom: 40px;
}

footer
{
    background-color: #f2f2f2;
    padding-top: 30px;
    padding-bottom: 20px;
}

footer a
{
    text-decoration: none;
    color: black;    
}

footer li
{
    list-style: none;
    margin-bottom: 5px;
}

footer h3
{
    margin-left: 40px;
}

@media screen and (min-width: 768px)
{
    header
    {
        display: flex;
        justify-content: space-between;
        
    }

    .inscription
    {
        order: 3;
        margin-top: 22px;
    }

    #menu
    {
        flex: 1;
        margin-top: 0px;
    }

    #menu a
    {
        border-bottom: none;
        padding-top: 20px;
        border-top: 2px solid white;
    }

    #menu a:hover
    {
        border-top: 2px solid #0065fc;
        border-bottom: none;
    }

    .info
    {
        display: flex;
        align-items: baseline;
    }

    #hebergement
    {
        padding: 30px 0 30px 30px;
    }

    #cards
    {
        display: flex;
        flex-wrap: wrap;
    }

    #cards a
    {
        width: 47%;
        margin-right: 3%;
    }

    #activite
    {
        padding-left: 50px;
    }

    #row
    {
        display: flex;
        flex-wrap: wrap;
    }

    #column_1, #column_2, #column_3, #column_4
    {
        flex: 47%;
        margin-right: 3%;
    }

    #column_1
    {
        order: 1;
    }

    #column_2
    {
        order: 3;
    }

    #column_3
    {
        order: 2;
    }

    #column_4
    {
        order: 4;
    }

    footer
    {
        display: flex;
        justify-content: space-around;
        padding-right: 30px;
    }
}

@media screen and (min-width: 1200px)
{
    .logo
    {
        width: 70%;
    }

    .inscription
    {
        text-align: right;
    }

    #menu
    {
        width: 20%;
    }

    .search
    {
        width: 20%;
        min-width: 300px;
    }

    .search-logo
    {
        border-radius: 0 13px 13px 0;
        width: 100px;
    }

    .search-logo i
    {
        display: none;
    }

    .search-logo strong
    {
        display: block;
        color: white;
    }

    #filtres
    {
        margin-top: 30px;
        display: flex;
        align-items: baseline;
    }

    #content
    {
        display: flex;
        flex-direction: row-reverse;
    }

    #content #populaires
    {
        flex: 1;
    }

    #content #hebergement
    {
        flex: 2.5;
    }

    #hebergement
    {        
        background-color: #f2f2f2;
        padding: 30px 0 30px 30px;
        margin-right: 20px;
        border-radius: 20px;
    }

    #populaires span
    {
        bottom: 10px;
    }

    #cards
    {
        display: flex;
        flex-wrap: wrap;
    }

    #cards a
    {
        width: 30%;
        margin-right: 3%;
    }

    #populaires
    {
        border-radius: 20px;
    }

    #row
    {
        display: flex;
        flex-wrap: wrap;
        height: 500px;
    }

    #column_1, #column_2, #column_3, #column_4
    {
        flex: 23%;
        max-width: 25%;
        margin-right: 2%;
    }

    #column_1 .acti_1
    {
        height: 500px;
    }

    #column_1 .acti_1 img
    {
        height: 85%;
    }

    #column_2 .acti_2
    {
        height: 260px;
        margin-bottom: 50px;
    }

    #column_2 .acti_3
    {
        height: 190px;
    }

    #column_3 .acti_4
    {
        height: 500px;
    }

    #column_3 .acti_4 img
    {
        height: 85%;
    }

    #column_4 .acti_5
    {
        height: 225px;
        margin-bottom: 50px;
    }

    #column_4 .acti_6
    {
        height: 225px;
    }

    #column_1
    {
        order: 1;
    }

    #column_2
    {
        order: 2;
    }

    #column_3
    {
        order: 3;
    }

    #column_4
    {
        order: 4;
    }

    header, #recherche, #content, #activite
    {
        padding: 0 50px;
    }
}